{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes cadastrados</title>
    <!-- Link para o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
    <div class="container">
        <!-- Cabeçalho -->
        <div class="header mb-4">
            <h3>Clientes cadastrados</h3>
        </div>
         <!-- Seção de Filtros -->
         <div class="header mb-4">
            <form method="get" action="" class="w-100">
                <div class="row">
                    <div class="mb-3 col-md-3">
                        {{Myfilter.form.nome | as_crispy_field }} 
                    </div>
                    <div class="mb-3 col-md-2">
                        {{Myfilter.form.cnpj | as_crispy_field }} 
                    </div>
                    <div class="mb-3 col-md-2">
                        {{Myfilter.form.estado | as_crispy_field }} 
                    </div>
                    <div class="mb-3 col-md-2">
                        {{Myfilter.form.tipo | as_crispy_field }} 
                    </div>
                    <div class="mb-3 col-md-2">
                        {{Myfilter.form.ativo | as_crispy_field }} 
                    </div>

                    <div class="mb-0 col-md-1 d-flex align-items-center">
                        <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
                    </div>
                    
                </div>
                
            </form>
        </div>
        
   
        <!-- Tabela -->
        <table class="table table-success table-striped-columns">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Estado</th>
                    <th>Tipo</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes_list %}
                <tr>
                    <td><strong>{{ cliente.nome }}</strong></td>
                    <td>{{ cliente.cnpj }}</td>
                    <td>{{ cliente.estado }}</td>
                    <td>
                        {% if cliente.tipo == 'Varejo' %}
                            <span class="badge badge-warning">Varejo</span>
                        {% elif cliente.tipo == 'Atacado' %}
                            <span class="badge badge-secondary">Atacado</span>
                        {% elif cliente.tipo == 'Food' %}
                            <span class="badge badge-primary">Food</span>
                        {% elif cliente.tipo == 'Distribuidor' %}
                            <span class="badge badge-success">Distribuidor</span>
                        {% else %}
                            Deu erro
                        {% endif %}
                    </td>
                    <td>
                        {% if cliente.ativo %}
                            <span class="badge badge-success">Ativo</span>
                        {% else %}
                            <span class="badge badge-danger">Inativo</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Rodapé -->
        <div class="footer">
            Total de clientes: {{ clientes_list|length }}
        </div>
    </div>

    <!-- Scripts do Bootstrap (opcional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
